/* Build by 200123@5173.com 
 Date:2014-10-21 10:15:04 
 Version:1.00 */
@charset "utf-8";

.btn_b_1 {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/sell_v42bg.gif) no-repeat left -108px;
	width: 101px;
	height: 31px;
	line-height: 31px;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
}

.btnlink_b {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat left top;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none!important;
}

.btnlink_b span {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat right top;
	height: 32px;
	line-height: 32px;
	padding-right: 10px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.btnlink_b:hover {
	background-position: left -36px;
}

.btnlink_b:hover span {
	background-position: right -36px;
	text-decoration: none;
}

.btnlink_b.onlick {
	background-position: left -72px;
}

.btnlink_b.onlick span {
	background-position: right -72px;
}

.btnlink_b:hover,.btnlink_g:hover {
	text-decoration: none;
}

.btnlink_g {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat left -108px;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none!important;
}

.btnlink_g span {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat right -108px;
	height: 32px;
	line-height: 32px;
	padding-right: 10px;
	display: inline-block;
	font-size: 14px;
	color: #444;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.btnlink_g:hover {
	background-position: left -413px;
}

.btnlink_g:hover span {
	background-position: right -413px;
	text-decoration: none;
}

.form_tip a.btnlink_submit_small {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat 0 -536px;
	margin-top: 5px;
	text-decoration: none;
	display: inline-block;
	height: 21px;
	line-height: 21px;
}

.form_tip a.btnlink_submit_small span {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat right -536px;
	color: #fff;
	display: inline-block;
	height: 21px;
	line-height: 21px;
	margin-left: 12px;
	padding-right: 12px;
}

.btnlink_b_small {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat left -255px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none!important;
}

.btnlink_b_small span {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat right -255px;
	height: 26px;
	line-height: 26px;
	padding-right: 10px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.btnlink_b_small:hover {
	background-position: left -286px;
}

.btnlink_b_small:hover span {
	background-position: right -286px;
}

.btnlink_g_small {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat left -318px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none!important;
}

.btnlink_g_small span {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat right -318px;
	height: 26px;
	line-height: 26px;
	padding-right: 10px;
	display: inline-block;
	font-size: 14px;
	color: #444;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.btnlink_g_small.unhover:hover {
	background-position: left -318px;
	cursor: default;
}

.btnlink_g_small.unhover:hover span {
	background-position: right -318px;
	cursor: default;
}

.btnlink_b_small span.w70,.btnlink_g_small span.w70,.btnlink_b span.w70,.btnlink_g span.w70 {
	width: 70px;
}

.margin_hack {
	margin-left: 125px;
}

.margin_hack .w50 {
	width: 50px;
}

.btnlink_g_small:hover {
	background-position: left -349px;
}

.btnlink_g_small:hover span {
	background-position: right -349px;
}

.btnlink_g.c9 span,.btnlink_g_small.c9 span {
	font-weight: normal;
	color: #999;
}

.btnlink_b_small:hover,.btnlink_g_small:hover {
	text-decoration: none;
}

.btnlink_w_small,.btnlink_w_small span,.btnlink_b_s_small,.btnlink_b_s_small span,.btnlink_o,.btnlink_o span,.btnlink_o_s_small,.btnlink_o_s_small span,.btnlink_g_big,.btnlink_g_big span,.btnlink_red,.btnlink_red span,.btnlink_o_32,.btnlink_o_32 span,.btnlink_green_h21,.btnlink_green_h21 span {
	background: url(http://img01.5173cdn.com/fed/build/1.00/images/btnlink.gif) no-repeat;
	cursor: pointer;
}

.btnlink_w_small,.btnlink_w_small span {
	height: 21px;
	line-height: 21px;
	display: inline-block;
}

.btnlink_w_small {
	background-position: 0 -490px;
	cursor: pointer;
	text-decoration: none;
}

.btnlink_w_small.err span {
	color: #999!important;
}

.btnlink_w_small span {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	background-position: right -490px;
	margin-left: 12px;
	padding-right: 12px;
}

.btnlink_w_small:hover {
	color: #333;
	text-decoration: none;
}

.btnlink_b_s_small,.btnlink_b_s_small span,.btnlink_o_s_small,.btnlink_o_s_small span {
	height: 21px;
	line-height: 21px;
	display: inline-block;
	text-align: center;
}

.btnlink_w_small span,.btnlink_b_s_small span,.btnlink_o_s_small span {
	display: block;
	_display: inline-block;
}

.btnlink_b_s_small {
	background-position: 0 -514px;
	cursor: pointer;
	text-decoration: none;
}

.btnlink_b_s_small span {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-position: right -514px;
	margin-left: 12px;
	padding-right: 12px;
}

.btnlink_o_s_small {
	background-position: 0 -560px;
	cursor: pointer;
	text-decoration: none;
}

.btnlink_o_s_small span {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-position: right -560px;
	margin-left: 12px;
	padding-right: 12px;
}

.btnlink_b_s_small:hover {
	color: #FFF;
	background-position: 0 -536px;
	text-decoration: none;
}

.btnlink_b_s_small:hover span {
	background-position: right -536px;
	text-decoration: none;
}

.btnlink_o_s_small:hover {
	color: #FFF;
	background-position: 0 -699px;
	text-decoration: none;
}

.btnlink_o_s_small:hover span {
	background-position: right -699px;
	text-decoration: none;
}

.btnlink_o {
	height: 38px;
	line-height: 38px;
	background-position: 0 -585px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.btnlink_o span {
	display: inline-block;
	margin-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	text-decoration: none;
	background-position: right -585px;
	color: #FFF;
	font-weight: bold;
}

.btnlink_o:hover {
	text-decoration: none;
}

.btnlink_o:hover span {
	text-decoration: none;
}

.btnlink_g_big {
	height: 38px;
	line-height: 38px;
	background-position: 0 -624px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.btnlink_g_big span {
	display: inline-block;
	margin-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	text-decoration: none;
	background-position: right -624px;
	color: #999;
	background-repeat: no-repeat;
}

.btn_a_submit {
	position: absolute;
	left: -1000px;
	top: 0;
}

.btnlink_red span {
	height: 32px;
	line-height: 32px;
}

.btnlink_red {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-position: 0 -662px;
}

.btnlink_red span {
	float: left;
	background-position: right -662px;
	margin-left: 18px;
	padding-right: 20px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.btnlink_red:hover {
	text-decoration: none;
}

.btnlink_red:hover span {
	text-decoration: none;
}

.btnlink_o_32 {
	background-position: 0 -143px;
	display: inline-block;
	line-height: 30px;
	height: 32px;
}

.btnlink_o_32 span {
	float: left;
	color: #FFF;
	font-size: 14px;
	margin-left: 10px;
	padding-right: 12px;
	font-weight: bold;
	background-position: right -143px;
}

.btnlink_o_32:hover {
	background-position: 0 -180px;
	text-decoration: none;
}

.btnlink_o_32:hover span {
	background-position: right -180px;
	color: #FFF;
	text-decoration: none;
}

.btnlink_green_h21 {
	background-position: 0 -726px;
	display: inline-block;
	line-height: 21px;
	height: 21px;
}

.btnlink_green_h21 span {
	background-position: right -726px;
	display: inline-block;
	line-height: 21px;
	height: 21px;
}

.btnlink_green_h21 span {
	color: #fff;
	font-size: 12px;
	padding-right: 10px;
	margin-left: 10px;
}

.btnlink_green_h21:hover {
	text-decoration: none;
}

.btnlink_green_h21:hover span {
	text-decoration: none;
}

