@charset "utf-8";
/* CSS Document */
.hot_recommen_tt em{background: url(../img/hot_recommen_tt_em.png) no-repeat left top;height: 68px;
display: inline-block;width: 67px;position: absolute;top: -1px;left: -1px;}
		.hot_recommen_tt{ height:51px;}
		.hot_recommen_tt strong{ background-image:none; width:180px; position:absolute; right:-10px; top:10px;}	
		.hot_recommen_tt strong a{ color:#06c; font-weight:normal; font-size:14px;}	
		.hot_buy_title{ width:930px; margin:0 auto; font-size:14px; text-align:center; color:#666; border-bottom:1px solid #eaeaea; height:40px; padding-top:10px; line-height:40px;}
		.hot_buy_w1{ float:left;width:210px;}
		.hot_buy_w2{ float:left; width:200px;}
		.hot_buy_w3{ float:left; width:200px;}
		.hot_buy_w4{ float:left; width:110px;}
		
		.hot_buy_list{ clear:both; width:930px; margin:0 auto;}
		.hot_buy_list li{ height:60px; padding:20px 0;text-align:center;  border-bottom:1px solid #eaeaea; clear:both; }
		
		
		.hot_buy_detail_w0{  float:left; width:90px;}
		.hot_buy_detail_w1{  float:left;width:170px; text-align:left; padding-top:10px;}
		.hot_buy_detail_w2{  float:left;width:150px; text-align:left;padding-top:10px;}
		.hot_buy_detail_w3{   float:left;width:200px;font-family:Microsoft YaHei !important; font-size:16px; color:#ccc;padding-top:10px;}
		.hot_buy_detail_w4{  float:left;width:110px;position:relative;padding-top:10px;}
		.hot_buy_detail_w5{  float:left;width:210px;padding-top:8px;}
		
		.hot_img{ display:inline-block; width:55px;  margin-left:10px; border:1px solid #CBDEFF; padding:1px; }
		.hot_img img{ width:55px; height:55px;}
		.hot_time{ color:#FF6600; font-size:16px;font-family:Microsoft YaHei !important;}
		.hot_time strong{ font-size:22px; font-family:Arial; font-weight:normal;}
		.hot_service{ color:#999; font-size:12px;}
		.hot_price{ color:#006CD8; font-size:18px;font-family:Microsoft YaHei !important;}
		.hot_price span{ font-size:22px;font-family:Microsoft YaHei !important;}
		.hot_tips{ font-size:12px; color:#999;}
		
		.select_list_unit{ font-size:12px !important;}
		
		.a_buy_now{ display:inline-block; width:120px; height:34px; line-height:34px; background:url(../img/hot_buy_now.png) no-repeat center center; text-align:center; color:#fff;font-size:16px;font-family:Microsoft YaHei !important; font-weight:bold;}
		.a_buy_now:hover{ text-decoration:none !important; color:#f7f7f7;}
		
		.a_buy_now_un{ display:inline-block; width:140px; height:41px; line-height:40px; background:url(../img/hot_buy_now_un.png) no-repeat center center; text-align:center; color:#999;font-size:16px;font-family:Microsoft YaHei !important; font-weight:bold;}
		.a_buy_now_un:hover{ text-decoration:none !important; color:#999; cursor:default;}
		
		.select_list_input{position:relative;  display:inline-block; width:120px; height:28px; line-height:24px; padding:2px 25px 2px 4px;background:url(../img/select_input.png) no-repeat left top;  text-align:left; margin-right:4px; cursor:pointer;}
		.select_list_input2{display:inline-block; width:120px; height:28px; line-height:24px; padding:2px 25px 2px 4px;  text-align:left; margin-right:4px; cursor:pointer;background:url(../img/select_input2.png) no-repeat left top;}
		
		.select_list_input span{color:#aaa; font-size:14px;}
		
		.select_list_popup{ position:absolute; left:0px; top:31px; border:1px solid #cecece;z-index:9; background:#fff; width:146px; }
		.sin_pdlbox{ *z-index:-1 !important;}
		.select_list_popup ul{}
		.select_list_popup ul li{ height:30px; padding:0; border-bottom:1px solid #eee;}
		.select_list_popup ul li a{ position:relative; text-align:left; height:30px; padding-left:8px;color:#333; display:block;  line-height:30px; font-size:16px; color:#333;} 
		.select_list_popup ul a span{ position:absolute; right:4px;top:0; font-size:14px; color:#aaa;}
		.select_list_popup ul li a:hover{ background:#f7f7f7; text-decoration:none;}
		.select_list_number{ background:#f6f6f6; padding:4px !important;}
		.input_select_list_number{ border:0; color:#333; font-size:16px; line-height:24px; padding:4px; width:78px; height:20px; font-family:Arial;}
		
		.select_list_input2 .select_list_popup{ display:none;}
		
		.select_list_input_word span{ color:#000; font-size:20px;font-family:Arial;}
		.select_list_input_word .input_select_list_number{ color:#333;}
		
		.hot_price_account{ color:#ccc; font-size:16px;font-family:Arial;}
		.hot_price_account strong{ font-size:22px;font-weight:normal;}
		.hot_price_account_buy{ color:#ff6600;font-size:16px;font-family:Arial; font-weight:bold; }
		.hot_price_account_buy strong{ font-size:22px;}
		.hot_price_account_buy em{ color:#999; font-size:12px; padding-left:2px;}
		.hot_price_account_detail_popup{ font-size:12px; z-index:3; position:absolute; left:-40%; top:30px; border:1px solid #FACD89; background:#FFFCF2; padding:10px; color:#666; width:180px;}
		.hot_price_account_detail_popup em{ color: #f60; font-style:normal; display:inline-block; margin:0 4px;}
		
		.hot_buy_title:after{clear: both;content: '.';display: block;height: 0;overflow: hidden;}

